<div class="center jumbotron">

<h1>Directorio Amgen</h1>

<%= link_to "Ãreas", areas_path, class:"btn btn-primary btn-lg", "data-turbolinks" => "false" %>
<%= link_to "Directorio", employees_directory_path, class:"btn btn-primary btn-lg", "data-turbolinks" => "false" %>

</div>