<div class="center jumbotron">
  <h1>Editar &Aacute;rea</h1>

  <%= render 'form' %>

  <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>'.html_safe, area_path(@area), class: "btn btn-lg btn-primary" %>
</div>